.whiteSection {
  height: 800px;
  background-color: #fff;
  margin: 0;

}

.coloredSection {
  height: auto;
  background-color: #FBB116;
  z-index: 100;
  margin: 0;

}
*{
  font-family: 'McLaren';
}
/* Panel Menu ========================*/
.ramkaMenu {
  display: none;
  height: 55px;
  width: 370px;
  border-radius: 5px;
  position: fixed;
  top: 75px;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
}

.panel {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  top: 0;
  width: 350px;
  right: 0;
  display: none;
  color: #fff;
  z-index: 1000;
}

.panel ul {
  position: relative;
  text-align: center;
  list-style: none;
  line-height: 3rem;
  padding: 0;
  margin: 50% 0;
}

.panel li {
  position: relative;
  font-size: 25px;
  width: 100%;
}

.panel li a {
  display: block;
  padding: 11px 0;
  height: 70px;
  align-items: center;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.panel li a:hover {
  text-decoration: underline;
  width: 100%;
  background: rgba(236, 224, 54, 1);
  background: -moz-linear-gradient(left, rgba(236, 224, 54, 1) 0%, rgba(254, 165, 22, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236, 224, 54, 1)), color-stop(100%, rgba(254, 165, 22, 1)));
  background: -webkit-linear-gradient(left, rgba(236, 224, 54, 1) 0%, rgba(254, 165, 22, 1) 100%);
  background: -o-linear-gradient(left, rgba(236, 224, 54, 1) 0%, rgba(254, 165, 22, 1) 100%);
  background: -ms-linear-gradient(left, rgba(236, 224, 54, 1) 0%, rgba(254, 165, 22, 1) 100%);
  background: linear-gradient(to right, rgba(236, 224, 54, 1) 0%, rgba(254, 165, 22, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ece036', endColorstr='#fea516', GradientType=1);
}

/*-------------------------*/
/* Hamburger - menu =====================*/
.clickme {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 180px;
  top: 80px;
  animation: najazdMenu 2s ease-in-out;
  z-index: 11;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: #FBB116;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.4s;
}

.menuText {
  position: absolute;
  right: 70px;
  font-size: 30px;
  top: -2px;
  color: #FBB116;
  font-family: 'Shadows Into Light';
  font-weight: bolder;
}

.invisible .menuText {
  display: none;
}

.change .bar1 {
  background-color: #fff;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background-color: #fff;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ------------------ */
/* Logo aktywnych maluchów */
.logo {
  top: 50px;
  left: 180px;
  position: relative;
  animation: najazdLogo 3s ease-out;
}

/* ----------------- */
/* piłkarzWallpaper */
.soccer {
  position: absolute;
  opacity: 0.07;
  left: 150px;
}

/* mainSection =========================== */
.mainSection {
  position: relative;
  top: 120px;
}

.intro {
  text-align: center;
}

.mainText {
  font-family: 'Caveat Brush', sans-serif;
  padding-top: 70px;
  margin-left: 260px;
  position: relative;
  font-size: 49px;
  font-weight: 100;
  line-height: 1.4;
  animation: pop-up 4s, changeFontColor 3s infinite;
  color: #FBB116;
}

.mySlides {
  position: relative;
  left: 80px;
  width: 400px;
}

.arrow {
  position: absolute;
  left: 90px;
  bottom: 125px;
  width: 80px;
  animation: moveArrow 2s infinite;
}

/* END OF MAIN SECTION !!!!!!!!!!!!!!!!!! */
/* COLORED SECTION START */
.nabor {
  position: absolute;
  font-family: 'McLaren', sans-serif;
  top: 60px;
  padding-left: 60px;
  font-weight: bolder;
  color: #fff;
  animation: blink 3s infinite;
}

.banner {
  position: relative;
  top: 120px;
  left: 120px;
  width: 580px;
}

.invite {
  position: relative;
  font-family: 'McLaren', sans-serif;
  top: 0;
  left: 230px;
  color: #FBB116;
  text-shadow: 2px 2px 2px black;
  font-size: 50px;
}

.subscr {
  position: relative;
  top: 120px;
  padding-left: 30px;
  font-weight: bolder;
  color: #fff;
  line-height: 2em;
  border-left: 3px solid #fff;
  font-family: 'McLaren', sans-serif;

}
.sub{
  padding-bottom: 140px;
}
.recr {
  font-size: 60px;
}

.cena {
  margin-left: 50px;
  font-size: 70px;
  animation: blinkingText 3s infinite;
}

/* =========================== */
/* whiteSection2 Start ========================= */
#whiteSection2 {
  height: 1150px;
}

.container {
  text-align: center;
  top: 60px;
  font-size: 60px;
  font-weight: bolder;
  color: #FBB116;
}


.cardsContainer {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

.card {
  width: 350px;
  height: 300px;
  padding: 30px 30px;
  text-align: center;
  border: none;
  margin: 0 auto;
  align-items: center;

}

.card-title {
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  color: #FBB116;
  font-family: 'McLaren', sans-serif;
}
.card-text{
  font-family: Verdana, sans-serif;
}
.card-img-top {
  width: 60px;
}

.container2 {
  text-align: center;
  margin-top: 30px;
}
.czesne {
  font-family: 'McLaren', sans-serif;
  color: #FBB116;
  font-size: 60px;
}

.additional {
  display: block;
  margin-top: 50px;
  text-align: center;
}
.additional h2, .additional h3{
  font-family: 'McLaren', sans-serif;
}
/* coloredSection2 START ================= */
#coloredSection2 {
  background-color: #FBB116;
  height: 1250px;
}

.galeria {

  color: #fff;
  width: 490px;
  padding-top: 40px;
  height: 60px;
  margin: 0 auto 30px auto;
  font-size: 60px;
  position: relative;
}

.control:hover {
  background-color: #000;
}

.galleryContainer {
  position: relative;
  width: 100%;
  height: 780px;
  top: 80px;
  margin: 0 auto;
}

.carousel-inner {
  padding: 0;
}

.divider {
  width: 700px;
  right: 0;
  position: absolute;
}

.divider2 {
  width: 500px;
  left: 0;
  position: absolute;
}

.galleryDesc {
  position: static;
  font-family: 'Averia Gruesa Libre', sans-serif;
  color: #fff;
  font-size: 50px;
  text-align: left;

  margin-left: 60px;
  height: 200px;
}

.inviter {
  display: block;
  position: relative;
  top: 30px;
  left: 80px;
}

.fblink {
  top: 30px;
  left: 90px;

}
.fblogo{
  width: 300px;
}
.fblogo:hover {
  cursor: pointer;
  filter: brightness(150%);
}

/* onas section start ==================== */

.opis{
  margin: 90px 150px 50px 150px;
  width: 80%;
  text-align: center;
  font-size: 20px;
}
.euro{
  margin: 0 auto;
  display: block;
}
.carousel-item img{
  position: relative;
  margin-bottom: 10px;
}
@media only screen and (max-width: 992px) {
  .whiteSection {
    height: auto;
    background-color: #fff;
    width: 100%;
  }
  .opis{
    margin: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .recr{
    font-size: 40px;

  }
  .row{
    margin: 0;
    position: relative;
  }
  .galeria {
    width: 100%;
    font-size: 45px;
  }
  .additional h3{
    margin-top: 50px;
  }
  .card{
    padding: 0;
    height: 270px;
    width: 100%;
  }
  #coloredSection2 {
    height: 1050px;
  }


  .galleryContainer {
    position: relative;
    width: 100%;
    height: 350px;
    top: 80px;
  }

  .carousel-item img {
    width: 100%;
    border-radius: 0;
    display: block;
  }

  .carousel-inner {
    padding: 0;

  }

  .inviter {
    margin-top: 30px;
    position: relative;
    left: 0;
    text-align: center;
  }

  .galleryDesc {

    padding-top: 20px;
    margin-left: 0;
    font-size: 35px;
  }
  .euro{
    width: 100%;
  }
  .fblink{
    left: 0;
    text-align: center;
    top: 30px;
  }
  .fblogo{
    width: 200px;

  }
  .divider {
    display: none;
  }

  .divider2 {
    display: none;
  }

  #whiteSection2 {
    height: auto;
  }

  .coloredSection {
    background-color: #FBB116;
    width: 100%;
  }

  .container {
    font-size: 40px;
  }

  .cena {
    margin: 0;
    font-size: 60px;
  }

  .banner {
    display: none;
  }

  .invite {
    display: none;
  }

  .nabor {
    text-align: center;
    border-bottom: 1px solid #fff;
    width: 70%;
    display: block;
    padding: 0;
    animation: none;
    margin: 0 13%;
    font-size: 60px;
    font-family: 'Averia Gruesa Libre', sans-serif;
    position: relative;

  }
  .subscr {
    padding-left: 0;
    top: 70px;
    border: none;
    margin: 0 auto;
    position: relative;

  }

  .logo {
    left: 0;
    top: 150px;
    animation: none;
    width: 80%;
  }

  .clickme {
    top: 42px;
    right: 30px;
    animation: none;
  }

  .ramkaMenu {
    top: 35px;
    width: 200px;
    right: 0;
  }

  .intro {
    top: 40px;
    padding: 0;
    left: 0;
  }

  .soccer {
    top: 80px;
    width: 100%;
    left: 0;
  }

  .mainText {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 40px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .arrow {
    display: none;
  }

  .mySlides {
    left: 0;
    position: relative;
    top: 57px;
    
    width: 300px;
    margin: 0 auto;
  }
  .slides {
    height: 400px;
    position: relative;
  } 
  body {
    margin: 0;
    text-align: center;
  }
}

@keyframes pop-up {
  0% {
    transform: filter blur(5px);
    opacity: 0;
  }

  100% {
    transform: filter blur(0);
    opacity: 1;
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(45px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes changeFontColor {
  0% {
    color: #FBB116;
  }

  50% {
    color: pink;
  }

  100% {
    color: #FBB116;
  }
}

@keyframes najazdLogo {
  0% {
    left: -500px;
  }

  100% {
    left: 180px;
  }
}

@keyframes najazdMenu {
  0% {
    top: -50px;
  }

  100% {
    top: 80px;
  }
}

@keyframes blink {
  0% {
    font-size: 60px;
  }

  50% {
    font-size: 63px;
  }

  100% {
    font-size: 60px;
  }
}

@keyframes blinkMobile {
  0% {
    font-size: 50px;
  }

  50% {
    font-size: 53px;
  }

  100% {
    font-size: 50px;
  }
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }

  50% {
    color: #fff;
  }

  100% {
    color: transparent;
  }
}
